/* Tecnologia Web- Plantilla CSS del portal de asignación */
/* Puede usar #HEX o nombres de colores */
/* * es un comodín que se refiere a todos los elementos. */

/* { margin: 0; box-sizing: border-box; } */

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:Ubuntu,sans-serif;
    color:#d787ec;
    background-color: azure;
    left: 200px;   
}
img{
    border-color: #d49ce4;
    border-width: 10px;
    border-style: solid ;
    border-radius: 100px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color:#15dfe6; 
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 1.25rem;
    max-width: 600px;
}

header, footer, footer a {
    text-align: center;
    background-color:#0c010f;
    color: rgb(45, 217, 230);
    border-color: #6d2c7e;
    border-width: 10px;
    border-style: solid ;
    text-decoration: overline rgb(224, 17, 207)
    dashed ;
}



header img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    font-size: 0.75rem;
}

